.ml30{
  margin-left: 30px;
}

.m30{
  margin: 30px;
}

.line-center{
  margin: 0 auto;
}

.sfs{
  font-size: 12px;
}

.nfs{
  font-size: 14px;
}

.lfs{
  font-size: 16px
}

.mt30{
  margin-top: 30px;
}

.mt50{
  margin-top: 50px;
}

.mt70{
  margin-top: 70px;
}
