.sp{
  font:400 1em/1.8 Avenir,Tahoma,Arial,PingFang SC,Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,Helvetica,sans-serif;
  margin: 0;
}

.cav{
  font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  font-weight: 400;
}


.default{
  text-decoration: none;
  color: darkgrey;
  font-weight: 400;
}

.default:link{

}
.default:visited{
}
.default:hover{
  color: #337ecb;
  font-weight: 500;
}
.default:active{
  color: #337ecb;
  font-weight: 500;
}

.active{
  color: #3a8ee6;
  font-weight: 600;
}

.nav-default{
  text-decoration: none;
  width: 100%;
}

.nav-default:link{
  color: #293039
}

.nav-default:visited{
  color:#293039
}

.nav-default:hover{
  background-color: darkgrey;
  color: #293039;
}

.nav-default:active{
  background-color: darkgrey;
  color: #293039
}
